---
// components
import MainLayout from "../layouts/MainLayout.astro";
import TeamArea from "@components/TeamArea.astro";
import PageTitle from "@components/Page-Title.astro";
import TeamHeader from "@components/TeamHeader.astro";
import Image from "astro/components/Image.astro";
import Contact from "@components/Contact.astro";
// images
import teamImage from "@assets/img/team.webp";

import pageBannerImg from "@assets/img/contact-banner.jpg";

const pageBanner = { url: pageBannerImg.src };

const pageTitle = "Our Team";
const pageDescription = "";
const pageKeywords = "";
const pageAuthor = "";
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <PageTitle title="Study in Australia" banner={pageBanner} />
    <TeamHeader />
    <TeamArea />
    <Contact />
  </main>
</MainLayout>
