---
import MainLayout from "src/layouts/MainLayout.astro"

const pageTitle = "Team"
const pageDescription = "Meet the team behind the scenes"
const pageKeywords = "team, about, us, behind the scenes"
const pageAuthor = "Team"


---
<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
    <main>
      <!-- <PageTitle title={pageTitle} />
      <TeamHeader />
      <TeamArea /> -->
    </main>
  </MainLayout>
  