---
import MainLayout from "../layouts/MainLayout.astro";
import CTA from "@components/CTA.astro";
import PageTitle from "@components/Page-Title.astro";
import pageBannerImg from "@assets/img/country-img/australia_bg.jpg";
import TopCountryCourses from "@components/TopCountryCourses.astro";
import WhyChooseAus from "@components/WhyChooseAus.astro";
import TopCountries from "../components/TopCountries.astro";
import AustraliaContent1 from "@components/Australia-content1.astro";
import OurPartners from "@components/OurPartners.astro";
import FAQ from "@components/FAQ.astro";
import Testimonials from "@components/Testimonials.astro";
import Contact from "@components/Contact.astro";
import LifeInAustralia from "@components/Life_in_Australia.astro";
import TabComponentAustralia from "@components/TabComponentAustralia.astro";

const pageTitle = "A One Global";
const pageDescription = "";
const pageKeywords = "";
const pageAuthor = "";

const pageBanner = { url: pageBannerImg.src };
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <PageTitle title="Study in Australia" banner={pageBanner} />
    <AustraliaContent1 />

    <div class="section-divider"></div>

    <CTA />
    <TopCountryCourses />
    <WhyChooseAus />

    <LifeInAustralia />

  <TabComponentAustralia />

    <FAQ />
    <Testimonials />
    <TopCountries />
    <OurPartners />
    <Contact />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Function to handle tab switching
        function handleTabSwitch(tabButtons, tabPanes) {
          tabButtons.forEach((button) => {
            button.addEventListener("click", function (event) {
              event.preventDefault();

              // Remove active class from all tab buttons and tab panes
              tabButtons.forEach((btn) => btn.classList.remove("active"));
              tabPanes.forEach((pane) => pane.classList.remove("active"));

              // Add active class to the clicked tab button
              button.classList.add("active");

              // Add active class to the corresponding tab pane
              const targetPaneId = button.getAttribute("href").substring(1);
              const targetPane = document.getElementById(targetPaneId);
              targetPane.classList.add("active");
            });
          });
        }

        // Handle main country tabs
        const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
        const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
        handleTabSwitch(mainTabButtons, mainTabPanes);
      });
    </script>
  </main>
</MainLayout>
